@import url("cores.css");

body {
    background-image: url(../img/fundo.jpg);
}

#rowPrincipal {
    height: 100vh;
}

#btnHome {
    margin-top: 20px;
    margin-left: 10px;
    cursor: pointer;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    color: var(--fundo);
    font-size: 20px;
    background: var(--texto);
    padding: 10px 20px 10px 20px;
    border: 2px solid var(--fundo);
    text-decoration: none;

    /* flex para alinhar conteúdo*/
   display: flex;
   justify-content: space-around;
   align-items: center;
}

#btnHome:hover{
    background: var(--fundo);
    color: var(--texto);
    border: 2px solid var(--texto);
    text-decoration: none;
}