@import url("cores.css");

#colHome{
    background-color: var(--fundo);
    padding: 20px;
    color: var(--texto);
    border: 2px solid var(--texto);
}

#colHome .card{
    margin-top:10px;
    margin-bottom: 10px;
    border: 2px solid var(--texto);
    background-color: var(--fundo2);
}

#colHome .card-header{
    color: var(--texto);
    border-bottom: 2px solid var(--texto);
}

#colHome a{

    cursor: pointer;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    color: var(--texto);
    font-size: 14pt;
    background: var(--fundo2);
    padding: 10px 20px 10px 20px;
    border: 2px solid var(--fundo2);
    text-decoration: none;

    /* flex para alinhar conteúdo*/
   display: flex;
   justify-content: space-around;
   align-items: center;
}

#colHome a:hover{
    border: 2px solid var(--texto);
    text-decoration: none;
}

 #colHome button{
    padding: 0px;
    margin: 0px;
}

#colHome svg{
    margin-right: 3px;
}