@import url("cores.css");

/* css do cadastro do cliente */
#colCadCli{
    background-color: var(--fundo);
    padding: 20px;
    color: var(--texto);
    border: 2px solid var(--texto);
}

#colCadCli h1{
    border-bottom: 2px solid var(--texto);
    margin-bottom: 20px;
}

#btnCadCliente{
    background-color: var(--texto);
    color: var(--fundo);
    border: 2px solid var(--fundo);
    margin-top: 10px;
}

#btnCadCliente:hover{
    background-color: var(--fundo);
    color: var(--texto);
    border: 2px solid var(--texto);
    margin-top: 10px;
}

#colCadCli .input-group{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid var(--texto);
}

#colCadCli span{
    background-color: var(--texto) !important;
    color: var(--fundo) !important;
}