@import url("cores.css");

#rowMobile{
    margin-top: 80px;
}

.tipo{
    display: none;
}

#btnDeletar{
    background-color: var(--fundo2);
    color: var(--texto);
    border-color: 2px solid var(--texto) !important;
}

#btnDeletar:hover{
    background-color: var(--fundo2);
    color: #aa0000;
    border-color: 2px solid #aa0000 !important;
}

#btnEditar{
    background-color: var(--fundo2);
    color: var(--texto);
    border-color: 2px solid var(--texto) !important;
}

#btnEditar:hover{
    background-color: var(--texto);
    color: var(--fundo);
    border-color: 2px solid var(--fundo) !important;
}

#btnAgendar, #btnApagar{
    background-color: var(--texto);
    color: var(--fundo);
    border: 2px solid var(--fundo);
    margin-top: 10px;
}

#btnAgendar:hover, #btnApagar:hover{
    background-color: var(--fundo);
    color: var(--texto);
    border: 2px solid var(--texto);
    margin-top: 10px;
}

#formDeletar{
    margin-bottom: 0px !important;
}

#formAtualizar{
    margin-top: 10px !important;
}
#styleCardP{margin-bottom: 15px;}

#styleCardP, #styleCard, #styleCardPetH{
    background-color: var(--fundo2);
    color: var(--texto);
    border: 2px solid var(--texto);
    border-radius: 10px;
}

#styleCardP .card-header, #styleCard .card-header{
    background-color: var(--texto);
    color: var(--fundo2);
}

#styleCard .input-group{
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-group{
    border: 2px solid var(--texto);
}

.input-group span{
    background-color: var(--texto) !important;
    color: var(--fundo) !important;
}

#btnPesquisar{
    background-color: var(--texto);
    color: var(--fundo);
}

#btnPesquisar:hover{
    background-color: var(--fundo);
    color: var(--texto);
}

#btnHoje, #btnProxima, #btnHistorica{
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#btnHoje a, #btnProxima a, #btnHistorica a{
    text-decoration: none;
    background-color: var(--texto);
    color: var(--fundo);
    border: 2px solid var(--fundo);
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 20px 10px 20px;
}

#btnHoje:hover a, #btnProxima:hover a, #btnHistorica:hover a{
    background-color: var(--fundo);
    color: var(--texto);
    border: 2px solid var(--texto);
    border-radius: 10px;
}

#styleCardP li, #styleCard li{
    background-color: var(--fundo3);
    color: var(--texto);
    border-bottom: 2px solid var(--texto);
}

#styleCardP li{
    border-radius: 4px;
}

#styleCardP .fw-bold, #styleCard .fw-bold{
    margin-top: 10px;
    margin-bottom: 10px;
}

#styleCardPetH{
    margin-top: 15px;
}

#liDono{
    margin-bottom: 5px;
    }
    
#liDono:nth-child(2){
    margin-bottom: 0px;
}