<head>
    <!-- css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_agendar.css')}}">

    <!-- js -->
    <script defer src="{{ url_for('static', filename='js/exibirDonosPetsConsulta.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/validadorIdDonoPet.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/formataDataListaConsulta.js') }}"></script>
</head>


{% extends "base.html" %}
{% from 'bootstrap5/utils.html' import render_icon %}

{% block content %}

{% include 'public/button.html' %}

<div class="row justify-content-center">
    <div id="colAgendar" class="col-10 col-sm-8 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

        <h1>Agendar Consulta</h1>

        {% if 'sucesso' in session %}
            <p class="alert alert-success text-center" role="alert">{{render_icon('check-circle-fill')}} {{ session['sucesso'] }}</p>
        {% endif %}
        
        {% if falha %}
            <p class="alert alert-danger text-center" role="alert">{{render_icon('exclamation-triangle-fill')}} {{falha}}</p>
        {% endif %}

        {% if 'dados_consulta' not in session %}
            {% if dados %}
            <div class="row justify-content-center">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <div class="card" id="styleCard">
                        <div class="card-header text-center">
                            <h5 class="card-title">{{dados.1}}</h5>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <div class="fw-bold">Donos</div>
                                <li class="list-group-item"><strong>Nome:</strong> {{dados.2}}</li>

                                <div class="fw-bold">Consulta</div>
                                
                                <li class="list-group-item"><strong>Data da Consulta:</strong> <span class="data">{{dados.4}}</span></li>
                                <li class="list-group-item"><strong>Hora da Consulta:</strong> {{dados.3.strftime("%H:%M")}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

        {% else %}

        <form name="formAgendar" method="post">

            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
            <div class="input-group">
                <span id="spanImg" class="input-group-text">
                    <img src="{{url_for('static', filename='/img/tipo-pet.png')}}">
                </span>
                <div class="form-floating">
                    <input class="form-control" list="donos" id="idDono" name="idDono" placeholder="Digitar id da dupla" onfocusout="verificaIdDono()" oninput="setCustomValidity('')" autocomplete="off" required>
                    <datalist id="donos">
                        {% if idDupla %}
                            {% for id in idDupla %}
                                <option value="{{id.0}}">
                                    id da dupla: {{id.0}} - Dono: {{id.1}} - Pet: {{id.2}}, {{id.3}}
                                </option>
                            {% endfor %}
                        {% endif %}
                    </datalist>
                    <label for="dono" class="form-label">Digitar id do dono do pet</label>
                </div>
            </div>

            <div class="input-group">
                <span class="input-group-text">{{render_icon('calendar-check-fill')}}</span>
                <div class="form-floating">
                    <input class="form-control" type="datetime-local" id="dataHora" name="dataHora" required>
                    <label for="dataHora">Data e Hora</label>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 d-flex align-items-center justify-content-center">
            <div id="resultado"></div>
            <div id="errorIdDono"></div>
        </div>
        </div>

            <button class="btn float-end" type="submit" id="btnAgendar">Agendar</button>
            <button class="btn" type="reset" id="btnApagar">Apagar</button>
        
        </form>
        {% endif %}
        
    </div>
</div>

{% endblock %}