<head>
    <!-- css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_listar_consulta.css')}}">

    <!-- js -->
    <script defer src="{{ url_for('static', filename='js/formataDataListaConsulta.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/mostraImgTipoLista.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/hideShowConsulta.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/validadorIdPetListaConsulta.js') }}"></script>
</head>

{% extends "base.html" %}
{% from 'bootstrap5/utils.html' import render_icon %}

{% block content %}
<div class="position-absolute top-0 start-0">
    <button class="btn btn-lg" id="btnHome"><a href="{{url_for('index')}}">{{render_icon('house-heart-fill')}} Home</a></button>
</div>

<div id="rowMobile" class="row justify-content-center text-center">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">

        <form id="formConsultaPets" action="/listar_consulta" method="post">
            <div class="input-group">
                <span class="input-group-text">
                    {{render_icon('search')}}
                </span>
                <div class="form-floating">
                    <input class="form-control" list="listaPets" id="idPet" name="idPet" placeholder="Digitar o nome do pet" onfocusout="verificaIdPet()" oninput="setCustomValidity('')" required>
                    <datalist id="listaPets">
                        {% if todosPetsOption %}
                            {% for pet in todosPetsOption %}
                        <option value="{{pet.0}}">
                                {{pet.0}} - {{pet.1}}, Donos: 

                                {% if donos %}
                                    {% for dono in donos %}
                                        {% if pet.0 == dono.0 %}
                                            {{dono.1}}, 
                                        {% endif %}
                                    {% endfor %}
                                {% endif%}
                            {% endfor %}
                        {% endif %}
                    </datalist>
                    <label for="idPet" class="form-label">id do Pet</label>
                </div>
                <button class="btn" type="submit" id="btnPesquisar" >Pesquisar</button>
            </div>
        </form>

        <button id="btnHoje" class="btn btn-lg"><a href="{{url_for('listar_consulta')}}">Consultas de Hoje</a></button>
        <button id="btnProxima" class="btn btn-lg"><a href="{{url_for('listar_consulta_futura')}}">Proximas consultas</a></button>
        <button id="btnHistorica" class="btn btn-lg"><a href="{{url_for('listar_consulta_passada')}}">Historico de consultas</a></button>

        {% if erro %}
        <p class="alert alert-danger text-center" role="alert">{{render_icon('exclamation-triangle-fill')}}
            {{erro}}</p>
        {% endif %}

        {% if dados %}
        <p class="alert alert-success text-center" role="alert">{{render_icon('check-circle-fill')}} A consulta do pet
            {{dados.1}}, dono {{dados.0}} foi cancelada com sucesso!</p>
        {% endif %}

        {% if dadosAtualiza %}
        <p class="alert alert-success text-center" role="alert">{{render_icon('check-circle-fill')}} A consulta do pet
            {{dadosAtualiza.1}}, dono {{dadosAtualiza.0}} foi atualizada com sucesso!</p>
        {% endif %}

        {% if msg %}
        <p id="atencao" class="alert alert-primary text-center" role="alert">
            {{render_icon('info-circle')}}
            {{msg}}
        </p>
        {% endif %}

    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        {% if consultasHoje %}
        <div class="card" id="styleCardP">
            <div class="card-header text-center">
                <h1 class="card-title">Consultas de Hoje</h1>
            </div>
            <div class="card-body">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 row-col-xl-4 row-col-xxl-4 g-4">
                    {% for consulta in consultasHoje %}
                    <div class="col">
                        <div class="card" id="styleCard">
                            <div class="card-header text-center">
                                <h5 class="card-title">{{consulta.5}}</h5>
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <div class="fw-bold">Consulta</div>
                                    <li class="list-group-item"><strong>Data da Consulta:</strong> <span class="data">{{consulta.2}}</span></li>
                                    <li class="list-group-item"><strong>Hora da Consulta:</strong> {{consulta.1.strftime("%H:%M")}}</li>
                                    <div class="fw-bold">Dados do pet</div>
                                    <li class="list-group-item"><strong>Tipo:</strong> <span class="tipo">{{consulta.6}}</span><img class="imgTipo" src=""></li>
                                    <li class="list-group-item"><strong>Raça:</strong> {{consulta.7}}</li>
                                    <li class="list-group-item"><strong>Data de Nascimento:</strong> <span class="nascimento">{{consulta.8}}</span></li>
                                    <li class="list-group-item"><strong>Idade:</strong> <span class="idade"></span></li>
                                    <div class="fw-bold">Dono</div>
                                    <li class="list-group-item"><strong>Nome:</strong> {{consulta.3}}</li>
                                    <li class="list-group-item"><strong>Contato:</strong> {{consulta.4}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}

        {% if consultasFuturas %}        
        <div class="card" id="styleCardP">
            <div class="card-header text-center">
                <h1 class="card-title">Proximas consultas</h1>
            </div>
            <div class="card-body">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 row-col-xl-4 row-col-xxl-4 g-4">
                    {% for consulta in consultasFuturas %}
                    <div class="col">
                        <div class="card" id="styleCard">
                            <div class="card-header text-center">
                                <h5 class="card-title">{{consulta.5}}</h5>
                            </div>
                            
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <div class="fw-bold">Consulta
                                        <button id="btnEditar" class="btn float-end" onclick="toggleVisibility('{{consulta.0}}')">
                                            {{render_icon('pencil-square')}}
                                        </button>
                                    </div>
                                    <li class="list-group-item"><strong>Data da Consulta:</strong> <span class="data">{{consulta.2}}</span></li>
                                    <li class="list-group-item"><strong>Hora da Consulta:</strong> {{consulta.1.strftime("%H:%M")}}</li>
                                    
                                    <div hidden="hidden" id="{{consulta.0}}">
                                        <form id="formAtualizar" action="/listar_consulta_atualizar/{{consulta.0}}" method="POST">
                                            <div class="input-group">
                                                <span class="input-group-text">{{render_icon('calendar-check-fill')}}</span>
                                                <div class="form-floating">
                                                    <input class="form-control" type="datetime-local" id="dataHora" name="dataHora" required>
                                                    <label for="dataHora">Data e Hora</label>
                                                </div>
                                            </div>
                                            <button class="btn float-end" type="submit" id="btnAgendar">Agendar</button>
                                            <button class="btn float-start" type="reset" id="btnApagar">Resetar campo</button>
                                        </form>
                                    </div>

                                    <div class="fw-bold">Dados do pet</div>
                                    <li class="list-group-item"><strong>Tipo:</strong> <span class="tipo">{{consulta.6}}</span><img class="imgTipo" src=""></li>
                                    <li class="list-group-item"><strong>Raça:</strong> {{consulta.7}}</li>
                                    <li class="list-group-item"><strong>Data de Nascimento:</strong> <span class="nascimento">{{consulta.8}}</span></li>
                                    <li class="list-group-item"><strong>Idade:</strong> <span class="idade"></span></li>
                                    
                                    <div class="fw-bold">Dono</div>
                                    <li class="list-group-item"><strong>Nome:</strong> {{consulta.3}}</li>
                                    <li class="list-group-item"><strong>Contato:</strong> {{consulta.4}}</li>
                                </ul>        
                            </div>
                            <div class="card-footer text-center">
                                <form id="formDeletar" action="/listar_consulta_deletar/{{consulta.0}}" method="POST">
                                    <button id="btnDeletar" class="btn btn-lg" type="submit">{{render_icon('trash3-fill')}}</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}

        {% if hitoricoConsultas %}
        <div class="card" id="styleCardP">
            <div class="card-header text-center">
                <h1 class="card-title">Historico de consultas</h1>
            </div>
            <div class="card-body">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 row-col-xl-4 row-col-xxl-4 g-4">
                    {% for consulta in hitoricoConsultas %}
                    <div class="col">
                        <div class="card" id="styleCard">
                            <div class="card-header text-center">
                                <h5 class="card-title">{{consulta.5}}</h5>
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <div class="fw-bold">Consulta</div>
                                    <li class="list-group-item"><strong>Data da Consulta:</strong> <span class="data">{{consulta.2}}</span></li>
                                    <li class="list-group-item"><strong>Hora da Consulta:</strong> {{consulta.1.strftime("%H:%M")}}</li>
                                    <div class="fw-bold">Dados do pet</div>
                                    <li class="list-group-item"><strong>Tipo:</strong> <span class="tipo">{{consulta.6}}</span><img class="imgTipo" src=""></li>
                                    <li class="list-group-item"><strong>Raça:</strong> {{consulta.7}}</li>
                                    <li class="list-group-item"><strong>Data de Nascimento:</strong> <span class="nascimento">{{consulta.8}}</span></li>
                                    <li class="list-group-item"><strong>Idade:</strong> <span class="idade"></span></li>
                                    <div class="fw-bold">Dono</div>
                                    <li class="list-group-item"><strong>Nome:</strong> {{consulta.3}}</li>
                                    <li class="list-group-item"><strong>Contato:</strong> {{consulta.4}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}

        {% if petEsp %}
            <div class="card" id="styleCardP">
                <div class="card-header text-center">
                    <h5 class="card-title">
                        {{petEsp.1}}
                    </h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                            <ul class="list-group list-group-flush">
                                <div class="fw-bold">Dados do pet</div>
                                <li class="list-group-item"><strong>Tipo:</strong> <span class="tipo">{{petEsp.4}}</span><img class="imgTipo" src=""></li>
                                <li class="list-group-item"><strong>Raça:</strong> {{petEsp.3}}</li>
                                <li class="list-group-item"><strong>Data de Nascimento:</strong> <span class="nascimento">{{petEsp.2}}</span></li>
                                <li class="list-group-item"><strong>Idade:</strong> <span class="idade"></span></li>
                            </ul>
                        </div>
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                            <ul class="list-group list-group-flush">
                                <div class="fw-bold">Donos</div>
                                {% for dono in donosPetEsp %}
                                    {% if petEsp.0 == dono.0 %}
                                    <li class="list-group-item"><strong>Nome:</strong> {{dono.1}}</li>
                                    <li class="list-group-item"><strong>Contato:</strong> {{dono.2}}</i>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    {% if consultaPetEsp %}
                    <div class="card" id="styleCardPetH">
                        <div class="card-header text-center">
                            <h1 class="card-title">Historico de consultas do Pet</h1>
                        </div>
                        <div class="card-body">
                            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 row-col-xl-4 row-col-xxl-4 g-4">
                                {% for consulta in consultaPetEsp %}
                                <div class="col">
                                    <div class="card" id="styleCard">
                                        <div class="card-header text-center">
                                            <h5 class="card-title">{{consulta.5}}</h5>
                                        </div>
                                        <div class="card-body">
                                            <ul class="list-group list-group-flush">
                                                <div class="fw-bold">Consulta</div>
                                                <li class="list-group-item"><strong>Data da Consulta:</strong> <span class="data">{{consulta.2}}</span></li>
                                                <li class="list-group-item"><strong>Hora da Consulta:</strong> {{consulta.1.strftime("%H:%M")}}</li>
                                                <div class="fw-bold">Dados do pet</div>
                                                <li class="list-group-item"><strong>Tipo:</strong> <span class="tipo">{{consulta.6}}</span><img class="imgTipo" src=""></li>
                                                <li class="list-group-item"><strong>Raça:</strong> {{consulta.7}}</li>
                                                <li class="list-group-item"><strong>Data de Nascimento:</strong> <span class="nascimento">{{consulta.8}}</span></li>
                                                <li class="list-group-item"><strong>Idade:</strong> <span class="idade"></span></li>
                                                <div class="fw-bold">Dono</div>
                                                <li class="list-group-item"><strong>Nome:</strong> {{consulta.3}}</li>
                                                <li class="list-group-item"><strong>Contato:</strong> {{consulta.4}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        {% endif%}
    </div>

</div>
{% endblock %}