<head>
    <!-- css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_consultar.css')}}">

    <!-- js -->
    <script defer src="{{ url_for('static', filename='js/formataDataLista.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/validadorIdListaPet.js') }}"></script>
</head>

{% extends "base.html" %}
{% from 'bootstrap5/utils.html' import render_icon %}

{% block content %}

<div class="position-absolute top-0 start-0">
    <button class="btn btn-lg" id="btnHome"><a href="{{url_for('index')}}">{{render_icon('house-heart-fill')}} Home</a></button>
</div>

<div class="row justify-content-center">
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        <form id="formListaPets" method="post">
            <div class="input-group">
                <span class="input-group-text">
                    {{render_icon('person-lines-fill')}}
                </span>
                <div class="form-floating">
                    <input class="form-control" list="listaPets" id="idPet" name="idPet"
                                placeholder="Digitar o nome do pet" onfocusout="verificaIdPet()" required>
                    <datalist id="listaPets">
                        {% if todosPetsOption %}
                            {% for pet in todosPetsOption %}
                        <option value="{{pet.0}}">
                            {{pet.1}}, {{pet.4}}, {{pet.3}}, 
                            <span class="data">{{pet.2}}</span>, 
                            <span class="idade"></span></option>
                            {% endfor %}
                        {% endif %}
                    </datalist>
                    <label for="idPet" class="form-label">id do Pet</label>
                </div>
                <button class="btn" type="submit" id="btnPesquisar" >Pesquisar</button>
                <button class="btn" id="btnMostraTodos"><a href="{{url_for("consultar_pet")}}">Mostrar todos</a></button>
            </div>
        </form>

        {% if erro %}
        <p class="alert alert-danger text-center" role="alert">{{render_icon('exclamation-triangle-fill')}}
            {{erro}}</p>
        {% endif %}

        {% if sucesso %}
            <p class="alert alert-success text-center" role="alert">{{render_icon('check-circle-fill')}} {{sucesso}}</p>
        {% endif %}

    </div>
</div>

<div class="row justify-content-center">
    {% if todosPets %}
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        <div class="row row-cols-1 row-cols-md-2 g-4">
                {% for pet in todosPets %}
            <div class="col">
                <div class="card" id="styleCard">
                    <div class="card-header text-center">
                        <h5 class="card-title">{{pet.1}}</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Tipo: {{pet.4}}</p>
                        <p class="card-text">Raça: {{pet.3}}</p>
                        <p class="card-text">Data de Nascimento: <span class="data">{{pet.2}}</span></p>
                        <p class="card-text">Idade: <span class="idade"></span></p>

                        <hr>
                        <p class="card-title"><strong>Donos: </strong></p>

                        {% for dono in donos %}
                            {% if pet.0 == dono.0 %}
                        <p class="card-text">Nome: {{dono.1}}</p>
                        <p class="card-text">Contato: {{dono.2}}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                    
                    <div class="card-footer text-center">
                        <form action="/consultar_pet_deletar/{{pet.0}}" method="POST">
                            <button id="btnDeletar" class="btn btn-lg" type="submit">{{render_icon('trash3-fill')}}</button>
                        </form>
                    </div>
                </div>
            </div>
                {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if petEsp %}
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
        <div class="card" id="styleCard">
            <div class="card-header text-center">
                <h5 class="card-title">{{petEsp.1}}</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Tipo: {{petEsp.4}}</p>
                <p class="card-text">Raça: {{petEsp.3}}</p>
                <p class="card-text">Data de Nascimento: <span class="data">{{petEsp.2}}</span></p>
                <p class="card-text">Idade: <span class="idade"></span></p>

                <hr>
                <p class="card-title"><strong>Donos: </strong></p>

                {% for dono in donosPetEsp %}
                    {% if petEsp.0 == dono.0 %}
                <p class="card-text">Nome: {{dono.1}}</p>
                <p class="card-text">Contato: {{dono.2}}</p>
                    {% endif %}
                {% endfor %}
            </div>
                    
            <div class="card-footer text-center">
                <form action="/consultar_pet_deletar/{{petEsp.0}}" method="POST">
                    <button id="btnDeletar" class="btn btn-lg" type="submit">{{render_icon('trash3-fill')}}</button>
                </form>
            </div>
        </div>
    </div>
    {% endif %} 
</div>
{% endblock %}