<head>
    <!-- css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_listar.css')}}">

    <!-- js -->
    <script defer src="{{ url_for('static', filename='js/formataDataLista.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/validadorIdListaPet.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/hideShow.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/mostraImgTipoLista.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/mostraImgTipoAtualiza.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/validadorDataLista.js') }}"></script>
</head>

{% extends "base.html" %}
{% from 'bootstrap5/utils.html' import render_icon %}

{% block content %}

<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        <button class="btn btn-lg" id="btnHome"><a href="{{url_for('index')}}">{{render_icon('house-heart-fill')}} Home</a></button>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
        <form id="formListaPets" method="post">
            <div class="input-group">
                <span class="input-group-text">
                    {{render_icon('person-lines-fill')}}
                </span>
                <div class="form-floating">
                    <input class="form-control" list="listaPets" id="idPet" name="idPet"
                                placeholder="Digitar o nome do pet" onfocusout="verificaIdPet()" oninput="setCustomValidity('')" required>
                    <datalist id="listaPets">
                        {% if todosPetsOption %}
                            {% for pet in todosPetsOption %}
                        <option value="{{pet.0}}">
                            {{pet.1}}, {{pet.4}}, {{pet.3}}, 
                            <span class="data">{{pet.2}}</span>, 
                            <span class="idade"></span></option>
                            {% endfor %}
                        {% endif %}
                    </datalist>
                    <label for="idPet" class="form-label">id do Pet</label>
                </div>
                <button class="btn" type="submit" id="btnPesquisar" >Pesquisar</button>
                <button class="btn" id="btnMostraTodos"><a href="{{url_for("listar_pet")}}">Mostrar todos</a></button>
            </div>
        </form>

        {% if erro %}
        <p class="alert alert-danger text-center" role="alert">{{render_icon('exclamation-triangle-fill')}}
            {{erro}}</p>
        {% endif %}

        {% if sucesso %}
            <p class="alert alert-success text-center" role="alert">{{render_icon('check-circle-fill')}} {{sucesso}}</p>
        {% endif %}

    </div>
</div>

<div class="row justify-content-center">
    {% if todosPets %}
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        <div class="row row-cols-1 row-cols-md-2 g-4">
                {% for pet in todosPets %}
            <div class="col">
                <div class="card" id="styleCard">
                    <div class="card-header text-center">
                        <h5 class="card-title">{{pet.1}}</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Tipo: <span class="tipo">{{pet.4}}</span>
                            <img class="imgTipo float-end" src="">
                        </p>
                        <p class="card-text">Raça: {{pet.3}}</p>

                        <p class="card-text">Data de Nascimento: <span class="data">{{pet.2}}</span>
                        </p>
                        <p class="card-text">Idade: <span class="idade"></span></p>

                        <hr>
                        <p class="card-title"><strong>Donos: </strong></p>

                        <div class="row">
                            {% for dono in donos %}
                                {% if pet.0 == dono.0 %}
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <p class="card-text">Nome: {{dono.1}}</p>
                                <p class="card-text">Contato: {{dono.2}}</p>
                            </div>
                            
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <form action="/listar_pet_deletar_dono/{{pet.0}}/{{dono.3}}" method="POST">
                                    <button id="btnDeletar" class="btn btn-lg float-end" type="submit">{{render_icon('trash3-fill')}}</button>
                                </form>
                            </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    
                    <div class="card-footer text-center">
                        <form action="/listar_pet_deletar/{{pet.0}}" method="POST">
                            <button id="btnDeletar" class="btn btn-lg" type="submit">{{render_icon('trash3-fill')}}</button>
                        </form>
                    </div>
                </div>
            </div>
                {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if petEsp %}
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
        <div class="card" id="styleCard">
            <div class="card-header text-center">
                <h5 class="card-title">
                    {{petEsp.1}}
                    <button id="btnEditarNome" class="btn float-end" onclick="toggleVisibility('{{petEsp.1}}')">
                        {{render_icon('pencil-square')}}
                    </button>
                </h5>
                <div style="display: none;" id="{{petEsp.1}}">
                    <form action="/listar_pet_atualizar_nome/{{petEsp.0}}" method="POST">

                        <div class="input-group">
                            <span id="spanImg" class="input-group-text">
                                <img src="{{url_for('static', filename='/img/nome-pet.png')}}">
                            </span>
                            <div class="form-floating">
                                <input class="form-control" type="text" id="nome" name="nome" placeholder="digite o nome do pet"
                                    min="6" max="50" required>
                                <label for="nome">Nome</label>
                            </div>
                        </div>

                        <button class="btn float-start" type="reset" id="btnCadApagar">Apagar</button>
                        <button class="btn float-end" type="submit" id="btnCadCadastrar">Atualizar</button>
                    </form>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
                        <p class="card-text">Tipo: <span class="tipo">{{petEsp.4}}</span></p>
                    </div>
                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
                        <img class="imgTipo float-end" src="">
                    </div>
                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
                        <button id="btnEditar" class="btn float-end" onclick="toggleVisibility('{{petEsp.4}}')">
                            {{render_icon('pencil-square')}}
                        </button>
                    </div>
                </div>
                <p class="card-text">Raça: {{petEsp.3}}</p>
                
                <div style="display: none;" id="{{petEsp.4}}">
                    <div id="formRacaTipo" class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                            <form action="/listar_pet_atualizar_tipo_raca/{{petEsp.0}}" method="POST">

                                <div class="row">
                                    <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 col-xxl-10">
                                        <div class="input-group">
                                            <span id="spanImg" class="input-group-text">
                                                <img src="{{url_for('static', filename='/img/tipo-pet.png')}}">
                                            </span>
                                            <div class="form-floating">
                                                <select class="form-select" id="tipo" name="tipo" onchange="mostraImgTipo(this.options[this.selectedIndex].value)" required>
                                                    <option value="" selected>--</option>
                                                    <option value="ave">Ave</option>
                                                    <option value="cachorro">Cachorro</option>
                                                    <option value="chinchila">Chinchila</option>
                                                    <option value="coelho">Coelho</option>
                                                    <option value="gato">Gato</option>
                                                    <option value="exotico">Exótico</option>
                                                    <option value="hamster">Hamster</option>
                                                    <option value="peixe">Peixe</option>
                                                    <option value="porquinho_da_india">Porquinho-da-índia</option>
                                                    <option value="nao-declarado">Não declarado</option>
                                                </select>
                                                <label for="tipo">Tipo</label>
                                            </div>
                                        </div>
                                    </div>
                    
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2 align-self-center text-center">
                                        <img id="imgTipo" src="">
                                    </div>
                                
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                                        <div class="input-group">
                                            <span id="spanImg" class="input-group-text">
                                                <img src="{{url_for('static', filename='/img/raca-pet.png')}}">
                                            </span>
                                            <div class="form-floating">
                                                <input class="form-control" type="text" id="raca" name="raca" placeholder="digite a raça do pet"
                                                    min="6" max="50" pattern="[a-zA-Z\s]+$" required>
                                                <label for="raca">Raça</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <button class="btn float-start" type="reset" id="btnCadApagar">Apagar</button>
                                <button class="btn float-end" type="submit" id="btnCadCadastrar">Atualizar</button>
                            </form>
                        </div>
                    </div>
                </div>

                <p class="card-text">Data de Nascimento: <span class="data">{{petEsp.2}}</span>
                    <button id="btnEditar" class="btn float-end" onclick="toggleVisibility('{{petEsp.2}}')">
                        {{render_icon('pencil-square')}}
                    </button>
                </p>
                <p class="card-text">Idade: <span class="idade"></span></p>

                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <div style="display: none;" id="{{petEsp.2}}">
                            <form  name="formAtualiza" action="/listar_pet_atualizar_data/{{petEsp.0}}" method="POST">

                                <div class="row">
                                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                        <div class="input-group">
                                            <span class="input-group-text">{{render_icon('calendar-check-fill')}}</span>
                                            <div class="form-floating">
                                                <input class="form-control" type="date" id="nascimento" name="nascimento" onfocusout="verificarData()" oninput="setCustomValidity('')" required>
                                                <label for="nascimento">Nascimento</label>
                                            </div>
                                        </div>
                                    </div>
                    
                                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 align-self-center">
                                        <div class="text-center" id="errorData"></div>
                                    </div>
                                </div>

                                <button class="btn float-start" type="reset" id="btnCadApagar">Apagar</button>
                                <button class="btn float-end" type="submit" id="btnCadCadastrar">Atualizar</button>
                            </form>
                        </div>
                    </div>
                </div>

                <hr>
                <p class="card-title"><strong>Donos: </strong></p>

                <div class="row">
                    {% for dono in donosPetEsp %}
                        {% if petEsp.0 == dono.0 %}
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                            <p class="card-text">Nome: {{dono.1}}</p>
                            <p class="card-text">Contato: {{dono.2}}</p>
                        </div>
                        
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                            <form action="/listar_pet_deletar_dono/{{petEsp.0}}/{{dono.3}}" method="POST">
                                <button id="btnDeletar" class="btn btn-lg float-end" type="submit">{{render_icon('trash3-fill')}}</button>
                            </form>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
                    
            <div class="card-footer text-center">
                <form action="/listar_pet_deletar/{{petEsp.0}}" method="POST">
                    <button id="btnDeletar" class="btn btn-lg" type="submit">{{render_icon('trash3-fill')}}</button>
                </form>
            </div>
        </div>
    </div>
    {% endif %} 
</div>
{% endblock %}