<head>
    <!-- css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_cadastros.css')}}">

    <!-- js -->
    <script defer src="{{ url_for('static', filename='js/ValidadorCPF.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mascara.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/validadorTelefone.js') }}"></script>
</head>

{% extends "base.html" %}
{% from 'bootstrap5/utils.html' import render_icon %}

{% block content %}

{% include 'public/button.html' %}

<div class="row justify-content-center">
    <div id="colCad" class="col-8 col-sm-8 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

        <h1 class="text-center">Cadastro de clientes</h1>

        {% if sucesso %}
            <p id="CadCliente" class="alert alert-success text-center" role="alert">{{render_icon('check-circle-fill')}} {{sucesso}}</p>
        {% endif %}

        {% if error_messages %}
        <p id="CadCliente" class="alert alert-danger text-center" role="alert">{{render_icon('exclamation-triangle-fill')}} {{ erro }} <br>
            {% for field, messages in error_messages.items() %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endfor %}
        </p>
        {% endif %}

        <form name="formCadastro" action="/cadastro_cliente" method="POST">

            <div class="input-group">
                <span class="input-group-text">{{render_icon('person-plus-fill')}}</span>
                <div class="form-floating">
                    <input class="form-control" type="text" id="nome" name="nome" placeholder="digite seu nome completo"
                      min="6"  max="50" required>
                    <label for="nome">Nome</label>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="input-group">
                        <span class="input-group-text">{{render_icon('card-text')}}</span>
                        <div class="form-floating">
                            <input class="form-control" type="text" id="cpf" name="cpf" placeholder="000.000.000-00" onfocusout="verificaCpf()" oninput="setCustomValidity(''); mascaraCPF(this)" maxlength="14" required>
                            <label for="cpf">CPF</label>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <div class="input-group">
                        <span class="input-group-text">{{render_icon('telephone-fill')}}</span>
                        <div class="form-floating">
                            <input class="form-control" type="tel" id="telefone" name="telefone"
                                placeholder="(00) 00000-0000" onfocusout="verificaTelefone()" oninput="setCustomValidity('')" required>
                            <label for="telefone">Contato</label>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="text-center" id="errorCPF"></div>
            <div class="text-center" id="errorTelefone"></div>

            <button class="btn" type="reset" id="btnCadApagar">Apagar</button>
            <button class="btn float-end" type="submit" id="btnCadCadastrar" >Cadastrar</button>

        </form>
    </div>
</div>
{% endblock %}